*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: 2px solid red;
}
.signup-container{
    height: auto;
    width: 90%;
}
#signup-form{
    padding: 12px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#signup-form h3{
    font-size: 24px;
    color: white;
}
#username{
    padding: 12px;
    border: 12px;
    font-size: 12px;
    width: 200px;
}
#email{
    padding: 12px;
    border: 12px;
    font-size: 12px;
    width: 200px;
}
#password{
    padding: 12px;
    border: 12px;
    font-size: 12px;
    width: 200px;
}
#signup-btn{
    padding: 12px;
    border: 12px;
    font-size: 12px;
    width: 200px;
}