*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
}
#btn{
    padding: 12px;
    background-color: aqua;
    color: black;
    font-size: 18px;
}